<style>
  /* Minimal reset - most styling comes from custom.css */
  * {
    box-sizing: border-box;
  }

  html {
    background-color: #010133;
  }

  body {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* Blog post list specifics */
  ul.blog-posts {
    list-style-type: none;
    padding: 0;
  }

  ul.blog-posts li {
    display: flex;
    margin-bottom: 0.5rem;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
    color: rgba(255, 255, 255, 0.6);
  }

  ul.blog-posts li a {
    color: #9FD1FF;
  }

  ul.blog-posts li a:visited {
    color: #9FD1FF;
  }

  /* Highlight code blocks */
  .highlight,
  .code {
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
  }
</style>
